/* Control */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section {
  margin-bottom: 30px; }

/* Typography */
/* ----------------------------------------------- */
body {
  font-size: 18px;
  font-family: "Ubuntu", "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #272a2b; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

.material-icons {
  font-size: inherit;
  line-height: inherit; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Ubuntu", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #5f5f5f;
  position: relative; }
  h1.has-lines, h2.has-lines, h3.has-lines, h4.has-lines, h5.has-lines, h6.has-lines {
    display: inline-block; }
    h1.has-lines:before, h2.has-lines:before, h3.has-lines:before, h4.has-lines:before, h5.has-lines:before, h6.has-lines:before {
      right: 100%;
      margin-right: 30px; }
    h1.has-lines:after, h2.has-lines:after, h3.has-lines:after, h4.has-lines:after, h5.has-lines:after, h6.has-lines:after {
      left: 100%;
      margin-left: 30px; }
    h1.has-lines:after, h1.has-lines:before, h2.has-lines:after, h2.has-lines:before, h3.has-lines:after, h3.has-lines:before, h4.has-lines:after, h4.has-lines:before, h5.has-lines:after, h5.has-lines:before, h6.has-lines:after, h6.has-lines:before {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 2px dotted #989b9b;
      top: 50%;
      width: 1200px; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

p {
  line-height: 1.6;
  margin-top: 0; }

hr {
  background-color: transparent;
  border: none;
  border-top: 1px solid #d8dcde;
  margin-top: 30px;
  margin-bottom: 50px; }

.text-medium {
  font-weight: 500; }

.text-muted {
  color: #989b9b; }

.text-light {
  color: #d8dcde; }

.text-lighter {
  color: #eeeeee; }

/* Grid */
/* ----------------------------------------------- */
.fluid-container {
  position: relative;
  width: 100%;
  margin: 0 auto; }
  .fluid-container.with-padding {
    padding-left: 10px;
    padding-right: 10px; }

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px; }

.column,
.columns {
  width: 100%;
  float: left; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 48%; }
  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }

/* Links */
/* ----------------------------------------------- */
a {
  color: #4497FA;
  text-decoration: none; }

a:hover {
  color: #76b3fb; }

/* Lists */
/* ----------------------------------------------- */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Code */
/* ----------------------------------------------- */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Utilities */
/* ----------------------------------------------- */
.u-full-width {
  width: 100%; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

.overflow-hidden {
  overflow: hidden; }

/* Misc */
/* ----------------------------------------------- */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing */
/* ----------------------------------------------- */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Buttons */
/* ----------------------------------------------- */
.btn.fill.default {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: #989b9b;
  color: #fff;
  padding: 14px 40px; }
  .btn.fill.default:hover, .btn.fill.default:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn.fill.default:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn.fill.default:hover {
    background-color: #adafaf; }

.btn.fill.dark {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: #5f5f5f;
  color: #fff;
  padding: 14px 40px; }
  .btn.fill.dark:hover, .btn.fill.dark:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn.fill.dark:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn.fill.dark:hover {
    background-color: #737373; }

.btn.fill.primary {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: #4497FA;
  color: #fff;
  padding: 14px 40px; }
  .btn.fill.primary:hover, .btn.fill.primary:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn.fill.primary:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn.fill.primary:hover {
    background-color: #6cadfb; }

.btn.fill.danger {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: #FB6B5D;
  color: #fff;
  padding: 14px 40px; }
  .btn.fill.danger:hover, .btn.fill.danger:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn.fill.danger:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn.fill.danger:hover {
    background-color: #fc8f85; }

.btn.fill.success {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: #2eCC71;
  color: #fff;
  padding: 14px 40px; }
  .btn.fill.success:hover, .btn.fill.success:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn.fill.success:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn.fill.success:hover {
    background-color: #4cd787; }

.btn.border.default {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #989b9b;
  color: #989b9b;
  padding: 12px 38px; }
  .btn.border.default:hover, .btn.border.default:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn.border.default:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn.border.default:hover {
    border-color: #adafaf;
    color: #adafaf; }

.btn.border.dark {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #5f5f5f;
  color: #5f5f5f;
  padding: 12px 38px; }
  .btn.border.dark:hover, .btn.border.dark:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn.border.dark:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn.border.dark:hover {
    border-color: #737373;
    color: #737373; }

.btn.border.primary {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #4497FA;
  color: #4497FA;
  padding: 12px 38px; }
  .btn.border.primary:hover, .btn.border.primary:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn.border.primary:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn.border.primary:hover {
    border-color: #6cadfb;
    color: #6cadfb; }

.btn.border.danger {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #FB6B5D;
  color: #FB6B5D;
  padding: 12px 38px; }
  .btn.border.danger:hover, .btn.border.danger:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn.border.danger:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn.border.danger:hover {
    border-color: #fc8f85;
    color: #fc8f85; }

.btn.border.success {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #2eCC71;
  color: #2eCC71;
  padding: 12px 38px; }
  .btn.border.success:hover, .btn.border.success:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn.border.success:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn.border.success:hover {
    border-color: #4cd787;
    color: #4cd787; }

/* Forms and Input Fields */
/* ----------------------------------------------- */
.input-group:not(:last-of-type) {
  margin-bottom: 15px; }

label {
  margin-bottom: 10px;
  min-width: 120px;
  display: inline-block;
  color: #5f5f5f;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px; }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  -webkit-appearance: initial;
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  padding: 9px 18px;
  font-size: 16px;
  border: 1px solid #eeeeee;
  background-color: #fff;
  transition: 0.1s all ease; }
  input[type="color"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="email"]:focus,
  input[type="month"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  input[type="week"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #a7cefd;
    box-shadow: 0px 0px 1px 1px #4497FA; }

.sublabel {
  font-size: 13px;
  color: #989b9b;
  margin-top: 5px; }

/* Tables */
/* ----------------------------------------------- */
table {
  width: 100%; }
  table th {
    color: #989b9b;
    font-weight: normal; }
  table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  table th:first-child, table td:first-child {
    padding-left: 0; }
  table th:last-child, table td:last-child {
    padding-right: 0; }

/* Media Queries */
/* ----------------------------------------------- */
.section__dash {
  margin-bottom: 18px; }

.dash__user-profile {
  margin: 20px 0; }

.dash__user-profile__image-wrapper {
  float: left;
  width: 90px;
  height: 90px;
  background-color: #989b9b;
  display: inline-block;
  position: relative;
  border-radius: 90px;
  margin-right: 30px; }
  .dash__user-profile__image-wrapper img {
    width: 100%;
    border-radius: 90px; }

.dash__user-profile__indicator {
  position: absolute;
  top: 6px;
  right: 6px;
  content: '';
  background-color: #2eCC71;
  width: 16px;
  height: 16px;
  border-radius: 8px; }

.dash__user-profile__info-wrapper {
  float: left;
  padding-top: 20px; }

.dash__user-profile__name {
  color: #5f5f5f;
  font-size: 24px;
  margin-bottom: 4px; }

.dash__user-profile__title {
  color: #989b9b;
  font-size: 16px; }

.dash__user-profile__menu {
  float: right;
  font-size: 12px;
  text-align: right;
  margin-top: 15px; }
  .dash__user-profile__menu ul {
    list-style-type: none; }
    .dash__user-profile__menu ul li {
      text-transform: uppercase;
      letter-spacing: 0.75px;
      font-weight: bold;
      margin-bottom: 8px; }

.dash__nav {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0; }
  .dash__nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between; }
    .dash__nav ul li {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase; }
      .dash__nav ul li a {
        display: block; }

.global-nav {
  background-color: #272a2b;
  color: #FFFFFF;
  min-height: 46px; }

.global-nav__logo {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 13px;
  margin-right: 35px;
  float: left; }
  .global-nav__logo a {
    color: #FFFFFF;
    text-decoration: none; }
    .global-nav__logo a:hover, .global-nav__logo a:focus {
      text-decoration: none; }

.global-nav__search {
  float: left;
  margin-right: 35px;
  margin-top: 8px; }
  .global-nav__search input {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    padding: 4px 16px;
    width: 260px; }
    .global-nav__search input:focus {
      border: 1px solid #FFFFFF;
      outline: none;
      box-shadow: none; }
  .global-nav__search .btn-search {
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    float: left;
    padding: 4px 8px 2px;
    transition: all 0.1s ease; }
    .global-nav__search .btn-search:hover, .global-nav__search .btn-search:focus {
      background-color: #FFFFFF;
      cursor: pointer;
      color: #272a2b; }

.global-nav__menu {
  float: left; }
  .global-nav__menu li {
    float: left;
    list-style-type: none;
    line-height: 46px;
    font-size: 16px;
    margin-bottom: 0; }
    .global-nav__menu li:not(:last-of-type) {
      margin-right: 25px; }
    .global-nav__menu li a {
      display: block;
      color: #FFFFFF;
      text-decoration: none; }
      .global-nav__menu li a:hover, .global-nav__menu li a:focus {
        color: #d8dcde;
        text-decoration: none; }

.global-nav__user {
  float: right; }
  .global-nav__user .user__icon {
    float: left;
    margin-right: 8px;
    margin-top: 10px;
    position: relative; }
    .global-nav__user .user__icon i {
      font-size: 26px; }
  .global-nav__user .user__name {
    line-height: 46px; }
  .global-nav__user .user__notifications {
    background-color: #4497FA;
    line-height: 1;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    top: -2px;
    position: relative;
    display: inline-block;
    border-radius: 4px; }

.section__footer {
  line-height: 1.5;
  font-size: 0.9rem; }

.footer__content {
  border-top: 2px solid #d8dcde;
  padding-top: 30px;
  color: #989b9b; }

.footer__heading {
  color: #5f5f5f;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 12px; }

.footer__nav {
  list-style-type: none; }
  .footer__nav li {
    margin: 0; }

.category {
  padding: 20px 0 25px 0; }
  .category:not(:last-of-type) {
    border-bottom: 1px solid #eeeeee; }

.category__title {
  font-size: 24px;
  margin-bottom: 16px; }
  .category__title a {
    text-decoration: none; }

.category__sponsor-badge {
  background-color: #989b9b;
  color: #ffffff;
  float: right;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 3px 6px;
  text-transform: uppercase; }

.category__description {
  font-size: 18px;
  margin-bottom: 16px; }

.category__recent {
  font-size: 15px;
  color: #989b9b;
  margin-bottom: 10px; }

.category__stats {
  font-size: 12px;
  color: #989b9b;
  display: flex; }

.category__stat:not(:last-of-type) {
  margin-right: 20px; }
  .category__stat:not(:last-of-type):after {
    content: '/';
    color: #d8dcde;
    margin-left: 20px; }

.section__page {
  padding: 40px 0;
  border-bottom: 2px solid #d8dcde; }

.page__title {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 11px;
  text-transform: none; }

.page__subtext {
  font-size: 16px; }

.posts__category {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 18px; }

.post {
  padding: 12px 0;
  border-top: 1px solid #eeeeee; }
  .post:last-of-type {
    border-bottom: 1px solid #eeeeee; }
  .post::after {
    content: '';
    clear: both;
    display: block; }

.post__main {
  float: left;
  width: 80%; }

.post__title {
  font-size: 18px;
  margin-bottom: 10px; }

.post__details, .post__stats {
  font-size: 14px;
  color: #989b9b;
  float: left; }

.post__details {
  margin-right: 40px; }

.post__stat:not(:last-of-type)::after {
  content: '/';
  color: #eeeeee;
  margin-left: 20px;
  margin-right: 20px; }

.post__users {
  float: right;
  margin-top: 9px;
  width: 20%; }

.post__user {
  background-color: #989b9b;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  float: right; }
  .post__user:not(:first-of-type) {
    margin-right: 9px; }

.btn__amount {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.1s ease;
  text-decoration: none;
  font-size: 14px;
  background-color: #989b9b;
  color: #fff;
  padding: 14px 40px;
  margin-bottom: 10px; }
  .btn__amount:hover, .btn__amount:focus {
    text-decoration: none;
    cursor: pointer; }
  .btn__amount:focus {
    box-shadow: 0px 2px 4px rgba(158, 158, 158, 0.7); }
  .btn__amount:hover {
    background-color: #adafaf; }

.notification {
  border-top: 1px solid #eeeeee;
  padding: 15px 10px; }
  .notification:last-of-type {
    border-bottom: 1px solid #eeeeee; }
  .notification:hover {
    background-color: #eeeeee;
    cursor: pointer; }

.notification__image {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: #989b9b;
  float: left;
  margin-right: 30px; }
  .notification__image img {
    width: 100%;
    border-radius: 48px; }

.notification__details__text {
  margin-top: 2px;
  margin-bottom: 8px; }

.notification__details__date {
  color: #989b9b;
  font-size: 14px; }

.section__breadcrumbs {
  padding: 40px 0;
  border-bottom: 1px solid #eeeeee; }

.thread {
  margin-bottom: 30px; }
  .thread:after {
    content: '';
    clear: both;
    display: block; }

.thread__reply {
  padding: 15px;
  background-color: #F7F7F7; }

.thread__user__avatar {
  width: 70px;
  height: 70px;
  background-color: #989b9b;
  margin-bottom: 12px; }
  .thread__user__avatar img {
    width: 100%; }

.thread__user__name {
  color: #5f5f5f;
  font-size: 16px;
  margin-bottom: 8px; }

.thread__content__title {
  font-size: 26px;
  color: #5f5f5f;
  text-transform: initial;
  font-weight: normal;
  margin-bottom: 22px; }

.thread__content__text {
  font-size: 16px;
  line-height: 1.5; }

.thread__tip {
  outline: none;
  border: none;
  background: none;
  text-align: left;
  color: #4497FA;
  display: inline;
  margin: 0;
  padding: 0;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px; }
  .thread__tip:hover {
    color: #76b3fb; }

.thread__content__date {
  float: right;
  text-align: right;
  color: #989b9b;
  font-size: 14px;
  margin-top: 10px; }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  transition: opacity .3s ease; }

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: table; }

.modal-wrapper {
  display: table-cell;
  padding: 10px;
  vertical-align: middle; }

.modal-container {
  position: relative;
  z-index: 10000;
  max-width: 600px;
  margin: 0px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease; }

.modal-header h3 {
  margin-top: 0;
  color: #4497FA; }

.modal-body {
  margin: 20px 0 0 0; }

.modal-x {
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px; }
  .modal-x:hover {
    cursor: pointer; }

.modal-enter, .modal-leave {
  opacity: 0; }

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }
