$thread__spacing: 30px
.thread
  &:not(:last-of-type)
    margin-bottom: $thread__spacing
  &:after
    content: ''
    clear: both

.thread__reply
  padding: 20px
  background-color: #F7F7F7

.thread__user

.thread__content

.thread__user__avatar
  float: left
  max-width: 80px
  margin-bottom: 12px
  img
    width: 40px

.thread__user__name
  color: $gray-dark
  font-size: 16px
  margin-bottom: 8px

.thread__content__title
  font-size: 26px
  color: $gray-dark
  text-transform: initial
  font-weight: normal
  margin-bottom: 22px

.thread__content__text
  font-size: 16px
  line-height: 1.5

.thread_replies
  margin-top: $thread__spacing

.thread__tip
  +btn-link
  letter-spacing: 1px
  font-weight: bold
  font-size: 14px

.thread__content__date
  float: right
  text-align: right
  color: $gray
  font-size: 14px
  margin-top: 10px

.btn__amount
  +btn($gray)
  margin-bottom: 10px

.select__tip-token
  background-color: $gray-lighter
  border-color: $gray-lighter

.like__wrapper
  float: left
  text-align: center

.like__up-button
  font-size: 32px
  line-height: 1

.like__counter
  color: $gray